
@{
    ViewData["Title"] = "Hw3";
}

<h1>Hw3</h1>
<p>這裡還沒有東西</p>
<label>會員名稱</label>
<input type="text"/>
@section Scripts{
<script>
    $("input[type="text"]").change(function(){
        //call api
    })
</script>
}

