
@{
    ViewData["Title"] = "Hw6";
}


<h1>Hw6</h1>
<Select id="cities">
    
</Select>

<select id="countries">

</Select>

<select id="roads">

</Select>

@section Scripts{
    <script>

         async function GetCountries(){
            const city = $("#cities").val()
            const api = `@Url.Content("~/api/countries/?city=")${city}`;
            //const xhr = new XMLHttpRequest();
            const response = await fetch(api);
            const datas = await response.json();
            const countries =await datas.map(item => {
                    const name = item.substring(3,6);
                    return (`<option value="${name}">${name}</option>`)
                })
            $("#countries").html(countries.join(""))
            GetRoads()
        }

        async function GetRoads(){
            const country = $("#countries").val()
            const api = `@Url.Content("~/api/street/?country=")${country}`;
            const response = await fetch(api)
            const datas = await response.json()

            const roads = await datas.map(item => {
                return (`<option value="${item}">${item}</option>`)
                })
            $("#roads").html(roads.join(""))    

        }

        async function GetCities(){
            const api = `@Url.Content("~/api/cities")`;
            const response = await fetch(api)
            const datas = await response.json()

            var cities = await datas.map(item =>{
                return (`<option value="${item}">${item}</option>`)
            })
            $("#cities").html(cities.join(""))  
            GetCountries()

        }

        GetCities();

        $("#cities").change(GetCountries);

        $("#countries").change(GetRoads)

        
    </script>
}

