
@{
    ViewData["Title"] = "Hw6";
}


@{
    ViewData["Title"] = "Hw4";
}

<h1>Hw4</h1>
<Select id="cities">
    
</Select>

<select id="countries">

</Select>

<select id="roads">

</Select>

@section Scripts{
    <script>
        //async function asyncFun(){
        //    try{
        //        //等到city api執行完，才會出現city的response
        //        const responseCities = await fetch('/api/cities')
        //        responseCities = await JSON.parse(responseCities.text());
        //        const cityLsit = await responseCities.map(item =>{
        //        return (`<option value="${item}">${item}</option>`)
        //        })
        //        await $("#cities").html(cities.join(""))

        //    }catch{
        //        console.log(error);
        //    }
        
        //}
        

         function GetCountries(){
            const api = `/api/countries/?city=`+ $("#cities").val();
            const xhr = new XMLHttpRequest();
            xhr.open('GET',api)
            xhr.send()
            
            xhr.addEventListener('load',() =>{
                const datas = JSON.parse(xhr.responseText);
                const countries = datas.map(item => {
                    const name = item.substring(3,6);
                    return (`<option value="${name}">${name}</option>`)
                })
                $("#countries").html(countries.join(""))
                GetRoad()
            })
        }

        function GetRoad(){
            const api = `/api/street/?country=` + $("#countries").val();
            let xhr = new XMLHttpRequest();
            xhr.open('GET',api)
            xhr.send()
            
            xhr.addEventListener('load',() =>{
                const datas = JSON.parse(xhr.responseText);
                let roads = datas.map(item => {
                    
                    return (`<option value="${item}">${item}</option>`)
                })
                $("#roads").html(roads.join(""))
            })
        }

        let xhr = new XMLHttpRequest();
        xhr.open('GET','/api/cities');
        xhr.send();

        xhr.addEventListener('load',() =>{
            const datas = JSON.parse(xhr.responseText);
            var cities = datas.map(item =>{
                return (`<option value="${item}">${item}</option>`)
            })
            $("#cities").html(cities.join(""))

            GetCountries()
        })

        

        $("#cities").change(GetCountries);


        $("#countries").change(GetRoad)

        
    </script>
}

